* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #f6f6fa;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

a {
  text-decoration: none;
  color: #161d2a;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  background: #ffffff;
  display: flex;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* ----------Sidebar------------ */
.sidebar {
  background: #e0ebfe;
  padding: 20px;
  box-sizing: border-box;
  width: 390px;
  margin-bottom: 40px;
}

.photo {
  width: 100%;
}

.sidebar-content {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

/* -----Contacts------- */
.contacts-container {
  margin-bottom: 40px;
}

.contacts-title {
  font-weight: 700;
  font-size: 22px;
  color: #161d2a;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.contacts-item {
  margin-top: 0;
  margin-bottom: 4px;
}

.contacts-type {
  color: #161d2a;
  margin-right: 8px;
  text-decoration: underline;
}

/* ----Tech Skills------ */

.skills-container {
  margin-bottom: 40px;
}

.skills-title {
  font-weight: 700;
  font-size: 22px;
  color: #161d2a;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.skills-list {
  padding-left: 20px;
}
.skills-list-item {
  color: #161d2a;
}

/* ---------Main-content--------- */
.main-content {
  padding-left: 88px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

/* -----------My info------------- */

.my-info {
  margin-bottom: 40px;
}

.my-name {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #292929;
  margin-top: 0;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.my-profession {
  font-weight: 700;
  line-height: 17px;
  color: #292929;
  margin-top: 0;
  margin-bottom: 15px;
}

.my-descr {
  margin-top: 0;
}

/* -- My projects -- */

.my-projects-container {
  margin-bottom: 40px;
}

.my-projects-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #292929;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-projects-list {
  padding-left: 16px;
}

.my-project-item {
  font-weight: 500;
  color: #595959;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-wrapper-group {
  display: block;
}

.my-project-item-link {
  display: inline-block;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #595959;
}

.my-project-item-tech {
  color: #a8a8a8;
}

/* -- Work experience -- */

.work-experience {
  margin-bottom: 40px;
}

.work-experience-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #292929;
  margin-top: 0;
  margin-bottom: 8px;
}

.work-experience-container {
  margin-bottom: 12px;
}

.company-name {
  color: #6d9bf5;
  font-size: 16px;
}

.work-experience-company {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* color: #599af5; */
  margin-top: 0;
  margin-bottom: 12px;
}

.work-experience-period {
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 8px;
}

.work-experience-period-separator {
  color: #a8a8a8;
}

.work-experience-duties-list {
  padding-left: 16px;
  margin-bottom: 10px;
}

.work-experience-duties-item {
  line-height: 24px;
}

/* -- Education -- */

.education-title {
  font-weight: 700;
  font-size: 22px;
  color: #292929;
  margin-top: 0;
  margin-bottom: 8px;
}

.education-item {
  margin-bottom: 15px;
}

.education-item {
}

.education-company {
  font-weight: 700;
  font-size: 16px;
  color: #6d9bf5;
  margin-top: 0;
  margin-bottom: 2px;
}

.education-profession {
  font-weight: 700;
}

.education-period {
  font-size: 12px;
  color: #a8a8a8;
}

/* *--- ---* */

@media screen and (max-width: 900px) {
  .wrapper {
    flex-direction: column;
    padding: 15px;
    margin: 0;
  }

  .sidebar {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    padding: 15px;
    margin: 0;
  }

  .sidebar {
    width: 100%;
  }

  .main-content {
    padding: 0;
  }

  body {
    padding: 15px;
  }
}
